{% extends "base.html" %}

{% block title %}Add Property{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flash">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form class="text-center" method="POST" action="/properties/add">
    <div class="mb-3">
        <label for="region" class="form-label">Region</label>
        <select class="form-select" id="region" name="region">
            <option value="" disabled selected>Select a region</option>
            {% for region in regions %}
            <option value="{{ region.id }}">{{ region.name }}</option>
            {% endfor %}
        </select>
    </div>


    <button type="submit" class="btn btn-primary btn-msub">Next</button>
</form>

{% endblock %}