{% extends 'admin_base.html' %}
{% block title %}Add City{% endblock %}

{% block content %}
    <h1>Add New City</h1>
    <form method="POST" action="{{ url_for('add_city') }}">
        <label for="name">City Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="area_id">Select Area:</label>
        <select id="area_id" name="area_id" required>
            <option value="" disabled selected>Select a area</option>
            {% for area in areas %}
            <option value="{{ area.id }}">{{ area.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Add City</button>
    </form>
    <a class="btn btn-secondary" href="{{ url_for('all_cities', table_name='cities') }}">Back to Areas</a>
{% endblock %}