{% extends 'admin_base.html' %}

{% block title %}Add Amenity{% endblock %}
        <h1>Add New Amenity</h1>
        <form method="POST" action="{{ url_for('add_amenity') }}">
            <label for="name">Amenity Name:</label>
            <input type="text" id="name" name="name" required>
            <button class="btn btn-primary" type="submit">Add Amenity</button>
        </form>

    <a class="btn btn-secondary" href="{{ url_for('all_amenities', table_name='amenities') }}">Back to Amenities</a>
{% endblock %}