{% extends 'admin_base.html' %}
{% block title %}Edit {{ table_name }}{% endblock %}</title>

{% block content %}
        <h2>Edit {{ table_name }} Member</h2>
        <form method="POST" action="{{ url_for('admin_edit', table_name=table_name, id=item.id) }}">
            {% for key, value in item.items() %}
            <div class="mb-3">
                <label for="{{ key }}" class="form-label">{{ key | capitalize }}</label>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}">
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{{ url_for('admin_page', table_name=table_name) }}" class="btn btn-secondary">Cancel</a>
        </form>

{% endblock %}