{% extends "base.html" %}
{% block title %}User Profile{% endblock %}
{% block content %}
<h2>{{ user.username }}</h2>
<p><strong>Email:</strong> {{ user.email }}</p>
<h2>Properties</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for property in user.properties %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ property.images[0].image_url }}" class="bd-placeholder-img card-img-top" alt="Property Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }}</h5>
                        <p class="card-text">{{ property.description }}</p>
                        <p><strong>Price:</strong> {{ property.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}