{% extends 'admin_base.html' %}
{% block title %}View {{ table_name }}{% endblock %}

{% block content %}
        <h1>View {{ table_name|capitalize }} Item</h1>

        <div class="table-responsive">

        <table class="table table-stripe">
            <thead>

                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>

            {% for attr, value in item.items() %}
            <tr>
                <td>{{ attr }}</td>
                {% if attr == 'properties' %}
                    <td><a href="/admin/{{ table_name }}/{{ item.id }}/properties">view properties</a></td>
                {% elif attr == 'images' %}
                    <td><a href="/admin/{{ table_name }}/{{ item.id }}/images">view images</a></td>
                {% elif attr == 'areas' %}
                    <td><a href="/admin/{{ table_name }}/{{ item.id }}/areas">view areas</a></td>
                {% elif attr == 'cities' %}
                    <td><a href="/admin/{{ table_name }}/{{ item.id }}/cities">view cities</a></td>
                {% elif attr == 'amenities'%}
                    <td>
                        <ul>
                            {% for amenity in value %}
                            <li>{{ amenity.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <a href="/admin/{{ table_name }}">Back to {{ table_name|capitalize }} List</a>
{% endblock %}